@inherits LayoutComponentBase

@using SMERPWeb.Components.Pages.CommonForms
<RadzenComponents />

<RadzenLayout >
    

    <RadzenHeader class="plain-topbar">
        <SMERPWeb.Components.Pages.SharedComponent.PlainLayoutHeader/>
        @* <RadzenRow JustifyContent="JustifyContent.Start" AlignItems="AlignItems.Center" Gap="0" class="plain-topbar-row">
            <RadzenColumn Size="8" SizeMD="8" SizeLG="8">
            </RadzenColumn>
            <RadzenColumn Size="4" SizeMD="4" SizeLG="4">
                <RadzenStack AlignItems="AlignItems.Center" Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" Gap="0.6rem" class="plain-topbar-actions">
                    @if (!string.IsNullOrWhiteSpace(UserBadgeText))
                    {
                        <RadzenText Text="@UserBadgeText" class="plain-user-badge" />
                    }
                    <RadzenProfileMenu Click="@ProfileMenuClick" class="plain-profile-menu">
                        <ChildContent>
                            <RadzenProfileMenuItem Text="Logout" Value="Logout" Icon="power_settings_new" />
                        </ChildContent>
                        <Template>
                        </Template>
                    </RadzenProfileMenu>
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>*@
    </RadzenHeader> 

    <RadzenBody>
        <div class="plain-layout-body">
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>

@code {
    
}
