@page "/Home"
@layout Layout.MainLayout

@* @rendermode InteractiveServer *@



<PageTitle>Home</PageTitle>

<h1 class="home-welcome">Hello, world!</h1>

Welcome to your new app.

<RadzenButton Click="@ButtonClicked" Text="Hi"></RadzenButton>
@code {
    void ButtonClicked()
    {
        // Handle the Click event of RadzenButton
    }
}
