.role-permission-list {
    max-width: 900px;
}

.role-permission-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--rz-base-300);
}
