@inherits LayoutComponentBase

<RadzenLayout>
    <RadzenHeader>
        <RadzenText TextStyle="TextStyle.H5" Style="color: white; padding: 0.75rem 1rem;">SMERP UI</RadzenText>
    </RadzenHeader>
    <RadzenSidebar>
        <NavMenu />
    </RadzenSidebar>
    <RadzenBody>
        <div class="content px-4">
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>
