@page "/"
@page "/login"
@layout AuthLayout

<PageTitle>Login</PageTitle>

<div class="login-page">
    <div class="login-card">
        <div class="login-header">
            <h1>Login</h1>
        </div>

        <div class="login-body">
            <EditForm EditContext="LoginEditContext" OnSubmit="HandleLoginAsync">
                <DataAnnotationsValidator />

                <div class="form-group">
                    <RadzenLabel Text="Tenant Email" Component="TenantEmail" />
                    <RadzenTextBox id="TenantEmail"
                                   Name="TenantEmail"
                                   @bind-Value="LoginModel.TenantEmail"
                                   Placeholder="tenant@company.com"
                                   Style="width: 100%;" />
                    <ValidationMessage For="@(() => LoginModel.TenantEmail)" />
                </div>

                <div class="form-group">
                    <RadzenLabel Text="Username" Component="Username" />
                    <RadzenTextBox id="Username" Name="Username" @bind-Value="LoginModel.Username" Style="width: 100%;" />
                    <ValidationMessage For="@(() => LoginModel.Username)" />
                </div>

                <div class="form-group">
                    <RadzenLabel Text="Password" Component="Password" />
                    <RadzenPassword id="Password" Name="Password" @bind-Value="LoginModel.Password" Style="width: 100%;" />
                    <ValidationMessage For="@(() => LoginModel.Password)" />
                </div>

                @if (!string.IsNullOrWhiteSpace(ErrorMessage))
                {
                    <RadzenAlert AlertStyle="AlertStyle.Danger" Variant="Variant.Flat" class="error-alert">
                        @ErrorMessage
                    </RadzenAlert>
                }

                <div class="actions-row">
                    <RadzenButton ButtonType="ButtonType.Submit"
                                  Text="Login"
                                  IsBusy="IsSubmitting"
                                  BusyText="Signing in..."
                                  class="login-button" />
                    <a href="#" class="forgot-password">Forgot password?</a>
                </div>
            </EditForm>
        </div>
    </div>
</div>
